[Unit]
Description=Preprocess corpus %i
After=get-corpus@%i.service

[Service]
WorkingDirectory=/tmp/4dahmen/workbench
EnvironmentFile=/data/4dahmen/config/environ
EnvironmentFile=/data/4dahmen/config/%i/environ
ExecStart=/tmp/4dahmen/run/bin/pipenv run python $ONMT_DIR/preprocess.py --config preprocess.config
Restart=always
Type=oneshot

# vim: filetype=systemd
