[Unit]
Description=Prepare and install net-trainer
After=systemd-tmpfiles-setup.service systemd-tmpfiles-clean.service
PartOf=net-trainer.service
After=net-trainer.service

[Service]
Environment=TMP_DIR=/tmp/4dahmen/
ExecStart=/bin/bash "$TMP_DIR/scripts/train/install.sh"
Type=oneshot
StandardError=kmsg
StandardOutput=kmsg

# vim: filetype=systemd
