data: "${target_dir}/preprocess/${corpus_name}"
save_model: "${target_dir}/train/${corpus_name}"
world_size: 2
gpu_ranks: [0,1]

word_vec_size: 500

encoder_type: "rnn"
decoder_type: "rnn"
rnn_type: "LSTM"

rnn_size: 1000

optim: "sgd"
learning_rate: 1
batch_size: 64

valid_steps: 250

early_stopping: 20
early_stopping_criteria: "accuracy"

save_checkpoint_steps: 1000
epochs: 18

single_pass: true
#tensorboard: true
# vim: filetype=yaml
