bishbosh_server='wolfpit.net'

bishbosh_connection_handler_PUBLISH()
{
	echo "Received a message on $topicName and saved it as $messageFilePath" 1>&2
	cat "$messageFilePath" 1>&2
	rm "${messageFilePath}"
}

# vim: filetype=sh
