bishbosh_server='wolfpit.net'
bishbosh_cliendId='HEAD' #I flipped a coin...

bishbosh_connect_keepAlive=5

bishbosh_connection_handler_CONNACK() 
{
	bishbosh_subscribe \
		'/BA/preprocess' 0 \
		'/BA/train' 0 \
		'/BA/verify' 0 
}

bishbosh_connection_handler_PUBLISH()
{
	echo "Received a message on $topicName and saved it as $messageFilePath" 1>&2
	cat "$messageFilePath" 1>&2
	rm "${messageFilePath}"
}

# vim: filetype=sh
